body {
    font-size: 16px;
    overflow-x: hidden;
    
    /*background-color: #61122f;*/
   
    background-color: rgba(97, 18, 47,0.95);

    padding:0;
    margin:0;
    height:200vh;
  
    font-family: 'Oxygen', sans-serif;
    
  }
 /*.boxisi{
   box-sizing:border-box;
   padding:0;
   margin:0;
   display:flex;
   justify-content: center;
   align-items: center;
   min-height:100vh;
   
   height:100vh;
   width:100vw;
   position:absolute; 
 
   
  
 }
 .boxisi:before{
 
   content:'';
   background:url(./images/Yj2Sr0.jpg) no-repeat center/cover;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   z-index: -1;
 
   
 }
 .boxisi:after{
   content:'';
   background-color: var(--primary-color);
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   z-index: -1;
 }

  
 

 

  
  /** HEADER **/
  #header-nav {
    background-color: rgba(243, 184, 114,0.9);
    border-radius: 0;
    border: 0;
    
    
   
  }
  
  #logo-img {
    background: url('./images/restaurant-logo_large.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
  }
  
  .navbar-brand {
    padding-top: 25px;
   
  }
  
  .navbar-brand h1 { 
    font-family: 'Lora', serif;
    color: #C7C3BD;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  .navbar-brand p { 
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
  }
  .navbar-brand p span { 
    vertical-align: middle;
  }
 #nav-list
 {
   display:flex;
 }


 .lista
 {
   position:absolute;
   right:0;
  
 }
.lista > ul{
  list-style:none;
  
  text-decoration: none;
  transition: color 0.4s ease;
  font-weight:bold;
  display:flex;
  
  width:40%;  
  
  
}
.lista > ul > li {
  margin:10px;
  border:1px;
  box-shadow: rgba (0,0,0,0.5);
}
.lista > ul > li > a{
  text-decoration:none;
  color:rgba(97, 18, 47,1);
  letter-spacing: 2 px;
  font-weight:bold;
  font-size :150%;

}

@media(max-width:991px)
{
  .hidesm
  {
    display:none;
  }
}
@media(max-width: 991px)
{
  #logo-img {
    background: url('./images/restaurant-logo_medium.png') no-repeat;
    width:100px;
    height:100px;
}
}
@media(max-width:767px)
{
  .navbar-brand{
    
    width:0.6em;
    height:0.6em;
   
  }
  .navbar-brand > a{
    font-size:0.6em;
    padding:0;
  }
  #logo-img {
    background: url('./images/restaurant-logo_small.png') no-repeat;
    width:50px;
    height:50px;
    margin-top:20px;
    padding:0;
}
.certificat > span{
  font-size:0.8em;
  margin-top:10px;
}
#kk{
  display:none;
}


}
@media(max-width:320px)
{
  .navbar-brand{
    
    width:0.5em;
    height:0.5em;
   
  }
  .navbar-brand > a{
    font-size:0.5em;
    padding:0;
  }
  #logo-img {
    background: url('./images/restaurant-logo_small.png') no-repeat;
    width:50px;
    height:50px;
    margin-top:20px;
    padding:0;
}
.certificat > span{
  font-size:0.8em;
  margin-top:10px;
}
#kk{
  display:none;
}


}
.services{
  background: rgba(48, 48, 48,0.5);
  text-align: center;

  
}
.services h1{
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 4px solid #3498db;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
}
.cen{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}
.service{
  display:inline-block;
  width: calc(100% / 3);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}
.service:hover{
  background:rgba(243, 184, 114,0.9);
}
.service i{
  color: rgba(97, 18, 47,0.6);
  font-size: 34px;
  margin-bottom: 30px;
}
.service h2{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}
.service p{
  color:rgba(230,219,219,0.9);
  font-size: 15px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .service{
    width: 50%;
  
  }
  .services{
    margin:0 50px;
  }
}
@media screen and (max-width: 425px) {
  .service{
    width: 100%;
    height:50px;
  }
  .services{
    margin:0;
  }
}
a
{
  text-decoration:none;
  
  
  
}
@media screen and (min-width: 768px){
  .services{
    margin:0 200px;
  }
}
.taswira
{ position: relative;
  box-sizing: border-box;
  padding:0;
  margin:0;
  width:80%;
  height:600px;
  background:url(./images/gst-background-placeholder-1-7.jpg) no-repeat center/cover;
  margin:10%;
  
  display:flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
 .taswira{
   height:300px;
   margin:50px 0;
   width:100%;
   
  
 }
 .taswira > p {
  font-size:3em;
 }
 


}
.taswira > p {
  position:absolute;
  font-family: 'Open Sans', sans-serif;
  color:white;
  font-size: 1.7vw;
  text-align: center;
  display:flex;
  text-emphasis: wrap;
  bottom:0;
  box-shadow: 2px rgba(230,219,219,0.8);
  margin:5px;
 
}

.reservationbox{
 
  width:12vw;
  height:4vw;
  margin:5vh 0;
  border:2px solid white;
  cursor:pointer;
  
}
@media(max-width:768px){
  .taswira > p{
  font-size:2.5vw;
  }
  .reservationbox{
    position:relative;
    width:30vw;
    height:10vw;
    display:flex;
    justify-content: center;
    
  }
}
@media(max-width:425px){
  .taswira > p{
  font-size:2.5vw;
  }
  .reservationbox{
    
    width:30vw;
    height:10vw;
    
  }
  .taswira > p{
    font-size:4vw;
    }
 
}
.reservationbox > h2{
 
  
  text-align: center;
  font-weight:bold;
  color:white;
  
}
header{
    
    position: fixed;
    top: 0;
    width:100%;
    z-index: 4;
  
}
.lawim{
  background:url(./images/gallery-grid-v2-1.jpg) no-repeat center/cover;
  margin-left:0;
  margin-right:0;
  width:100%
  
}
.salihm{
  background:url(./images/gallery-grid-v2-6.jpg) no-repeat center/cover;
  margin-right:0;
}
